
body { 
    background-color: <a href="http://melnicabiz.ru/images1/magazin-tovarov-dlya-detei3.jpg";
    font-family: 'Roboto', sans-serif;
}

#header {
    border: 1px solid #b5b7ba;
    background-color: #dfdfdf;
    min-width: 1280px;
    height: 50px;
    text-align: center;
    padding-top: 18px;
}

#header #selected {
    color: #000;
}

#footer {
    background-color: #434445;
    min-width: 1920px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    line-height: 140px;
}

#footer a {
    color: inherit;
}